@import './commonality.scss';

html,
body,
#app {
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
}
body {
  overflow-x: hidden;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.data-list {
  margin: 15px 0;
}

.noDate {
  margin: 20px 0;
  text-align: center;
  color: #ccc;
}

// .content-style {
//   padding: 0 20px;
//   min-height: calc(100vh - 170px);
// }

.append-box {
  margin: 15px;
}

.clear-box {
  overflow: hidden;
}

.dialog-container {
  .el-dialog__header {
    background-color: #0E102A;
  }

  .el-dialog__title {
    font-size: 14px;
    color: #FFF;
  }

  .el-dialog__close {
    color: #FFF;
  }
}