@import './commonality.scss';
html, body, #app {
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.data-list {
  margin: 35px 0;
}
.append-box {
  margin: 15px;
}